<style>
  .row-cols-md-4:first-of-type {
    margin-left: 58px;
  }
</style>
    <div class="row row-cols-1 row-cols-md-4 g-0"> 
      <% for (let s of listApple) { %>
      <div class="card" style="height: 450px; display: block; margin: 0 10px; width: 300px; margin-top: 30px;">
        <center>  
        <a href="/productdetail/<%=s.id%>">
          <img class="card-img-top" src="/images/<%= s.urlHinh %>" style="width: 250px; height:250px" >
        </a>
        </center>
        <div class="card-body">
          <h5 class="card-title">
            <a href="/productdetail/<%= s.id %>"><%= s.tenSP %></a>
          </h5>
          <div class="d-flex flex-g" style="font-weight: bold;">
            <p class="card-text"><%= s.gia.toLocaleString('vi') %>đ</p>
            <span style="padding-left: 15px; color: red;" class="card-text-old"><del><%= s.giaCu.toLocaleString('vi')  %>đ</del></span>
          </div>
        </div>
        <div class="btn">
          <center><button type="button" class="btn btn-warning" style="width: 100%;">Thêm vào giỏ hàng</button></center>
        </div>
      </div>
   
      <% } %>
  
     